# SQL

## Vorbereitung des Notebooks

Hier nichts verändern.

In [ ]:
# Installiert Paket, damit man SQL-Befehle auf Dataframes anwenden kann
!pip install pandasql

# Lädt Paket, damit man Dataframes (Tabellen in Python) anwenden kann
import pandas as pd
# Lädt Paket, damit man SQL-Befehle auf Dataframes anwenden kann
import pandasql as ps

Requirement already satisfied: pandasql in c:\users\jlhuber\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\jlhuber\anaconda3\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: sqlalchemy in c:\users\jlhuber\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: pandas in c:\users\jlhuber\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\jlhuber\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jlhuber\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\jlhuber\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jlhuber\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)

## Datenbeschreibung

Performance_data ist ein Datensatz über vorangegangene Leistungstests (VO2_max). Zudem enthält es Informationen über das Geschlecht und Alter der Untersuchten, ob diese rauchen oder nicht, deren Körpergröße und Gewicht, sowie die die Diagnostikerin, die den Test durchgeführt hat. Zudem wird der Erlös erhoben, der bei der Krankenkasse für die Diagnostik verrechnet wurde.

### Aufgabe

Laden die die Daten in einen pandas DataFrame und zeigen Sie diese an.

In [ ]:
# Lösung
# Lade die Daten in einen pandas Dataframe namens "performance_data"
performance_data = pd.read_csv("test_data.csv")

# Zeige performance_data an
performance_data

,Unnamed: 0,VO2_max,age,smoker,height,weight,revenue,diagnostician_id,gender
0,0,45,66,True,165,76,30,2,Male
1,1,37,58,False,180,87,32,1,Female
2,2,54,27,False,155,62,29,0,Male
3,3,58,32,False,183,78,26,0,Male
4,4,45,75,True,166,101,10,2,Female
...,...,...,...,...,...,...,...,...,...
195,195,55,24,True,160,74,11,3,Male
196,196,46,17,False,172,92,18,3,Male
197,197,61,52,False,164,84,29,0,Female
198,198,67,46,True,164,78,39,1,Male
199,199,43,39,False,162,107,36,1,Male

# Aufgaben

1. Was sind die höchsten drei Erlöse, die erzielt wurden?

2. Was sind die höchsten drei Erlöse, die mit Nicht-Rauchern erzielt wurden?

3. Wie leistungsfähig sind Personen mit Gewicht über 80kg verglichen mit leichteren Personen? (2 Befehle)

4. Was ist die Durchschnittsleistung von Frauen über 170cm?

5. Wie viel Umsatz haben die einzelnen Diagnostiker:innen erzielt?

6. Wie ist die durchschnittliche Leistung von Rauchern und Nicht-Rauchern, die von den Diagnostiker:innen 0 und 1 betreut wurden.